.footer {
          width: 100vw;
          height: 10vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000000;

          .footer-links {

            color: white;
            padding-right: 5%;

          }
}