.header {

    width: 100vw;
    height: 5vh;

    .header-div-idioma-home {

        width: 50%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 5%;

    }

    .div-vacio {

        width: 50%;
        height: 100%;

    }
}

.main-home {

    width: 100vw;
    height: 90vh;

    .body {
        width: 100%;
        height: 100%;
        background-image:url( "./assets/game-of-thrones-poster.jpg");
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .imagen {
        height: 90vh;
        width: 100vw;
        background-image: transparent;
    }
    .letra {
        color: white;
        font-size: 100px;
        
    }
    .pepe {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}