.main-houses {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.main-houses .section-houses {
  max-width: 100%;
  max-height: 95%;
  display: grid;
  place-items: center;
  overflow-y: auto;
  grid-template-columns: repeat(5, 260px);
  gap: 45px;
}
.main-houses .section-houses::-webkit-scrollbar {
  width: 10px;
}
.main-houses .section-houses::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-houses .section-houses::-webkit-scrollbar-track {
  background-color: #222;
}
.main-houses .section-houses .section-houses-article {
  width: 100%;
  height: 100%;
}
.main-houses .section-houses .section-houses-article .section-houses-article-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-houses .section-houses .section-houses-article .section-houses-article-div-img {
  width: 248px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 20px;
}
.main-houses .section-houses .section-houses-article .section-houses-article-div-span {
  color: white;
}
.main-houses .section2-houses {
  width: 100%;
  height: 100%;
}
.main-houses .section2-houses .section2-houses-article-houses {
  width: 100%;
  height: 100%;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-div {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-div .section2-houses-article-houses-div-img {
  width: 248px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 30px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-div .section2-houses-article-houses-div-name {
  color: white;
  font-size: 30px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div {
  width: 16%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .section2-houses-article-houses-article-div-titulos {
  padding-bottom: 30px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .section2-houses-article-houses-article-div-ul .section2-houses-article-houses-article-div-ul-li {
  padding-bottom: 20px;
  font-size: 12px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-episodes {
  max-width: 100%;
  max-height: 50%;
  overflow-y: scroll;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-episodes::-webkit-scrollbar {
  width: 5px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-episodes::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-episodes::-webkit-scrollbar-track {
  background-color: #222;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-titles {
  max-width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-titles::-webkit-scrollbar {
  width: 5px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-titles::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .div-titles::-webkit-scrollbar-track {
  background-color: #222;
}
.main-houses .section2-houses .section2-houses-article-houses .section2-houses-article-houses-article .section2-houses-article-houses-article-div .section2-houses-article-houses-article-div-img {
  width: 160px;
  height: 191.6px;
}/*# sourceMappingURL=HousePage.css.map */