.header {
          width: 100vw;
          height: 5vh;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #282c34;
          font-family: Verdana;

          .header-characters-div-characters {

                    display: flex;
                    align-items: center;
                    color: white;
                    padding-left: 10%;

          }

          .header-characters-div-idioma-home {

                    padding-right: 10%;

          }

          .header-houses-div-houses {

                    display: flex;
                    align-items: center;
                    color: white;
                    padding-left: 10%;

          }

          .header-houses-div-idioma-home {

                    padding-right: 10%;

          }
}

