.main-characters {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.main-characters .section {
  max-width: 100%;
  max-height: 95%;
  display: grid;
  place-items: center;
  overflow-y: auto;
  grid-template-columns: repeat(5, 260px);
  gap: 45px;
}
.main-characters .section::-webkit-scrollbar {
  width: 10px;
}
.main-characters .section::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-characters .section::-webkit-scrollbar-track {
  background-color: #222;
}
.main-characters .section .section-article {
  width: 100%;
  height: 100%;
}
.main-characters .section .section-article .section-article-div {
  position: relative;
  display: inline-block;
}
.main-characters .section .section-article .section-article-div-img {
  width: 248px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-characters .section .section-article .section-article-div-span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  width: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}
.main-characters .section .section-article .section-article-div:hover .section-article-div-span {
  visibility: visible;
  opacity: 1;
}
.main-characters .section2 {
  width: 100%;
  height: 100%;
}
.main-characters .section2 .section2-article-character {
  width: 100%;
  height: 100%;
}
.main-characters .section2 .section2-article-character .section2-article-character-div {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-characters .section2 .section2-article-character .section2-article-character-div .section2-article-character-div-img {
  width: 248px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 30px;
}
.main-characters .section2 .section2-article-character .section2-article-character-div .section2-article-character-div-name {
  color: white;
  font-size: 30px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div {
  width: 16%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .section2-article-character-article-div-titulos {
  padding-bottom: 30px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .section2-article-character-article-div-div {
  font-size: 12px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .section2-article-character-article-div-div .section2-article-character-article-div-div-ul .section2-article-character-article-div-div-ul-li {
  padding-bottom: 20px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-episodes {
  max-width: 100%;
  max-height: 50%;
  overflow-y: scroll;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-episodes::-webkit-scrollbar {
  width: 5px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-episodes::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-episodes::-webkit-scrollbar-track {
  background-color: #222;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-titles {
  max-width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-titles::-webkit-scrollbar {
  width: 5px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-titles::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .div-titles::-webkit-scrollbar-track {
  background-color: #222;
}
.main-characters .section2 .section2-article-character .section2-article-character-article .section2-article-character-article-div .section2-article-character-article-div-img {
  width: 160px;
  height: 191.6px;
}/*# sourceMappingURL=CharacterPage.css.map */